.app-footer {
  position: absolute;
  bottom: 0;
  background-color: rgb(211, 194, 174);
  display: flex;
  min-height: 7vh;
  width: 100%;
}
.footer-text {
  padding-top: 6px;
  font-size: 2vh;
  text-align: left;
  position: absolute;
  margin-left: 10%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
